.button{
    padding: 5%;
    background-color: #51B;
    width: 40%;
    height: 40%;
    color: #EEE;
 

}
section{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    align-items: center;
    min-height: 50%;
    border:none
}
#site{
    border: none;
    margin:none;
    width: 100%;
    height: 100%;
    padding: none;

}   
.toParent{
    font-size: 3.2vmin;
    text-align:center;
}

#main_logo{
    image-rendering: pixelated;
    width: 50%;
    
}
#header{
    background-color: #DDC; 
    
}
#headerlogo{
    image-rendering: pixelated;
    width: 5%;
    margin-left:10%;
    margin-right: 10%;
    position: relative;
    display:inline-block
    
}

button{
    border:none
}
#top{
    background-color: #114;

}
#bottom{
    background-color: #C2DCBE;
    display:inline-block;
    position: relative;
    display:flex;
    flex-direction: column;


}

.spacer{
    white-space: nowrap;

    width:100%;
    height: 10%;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin:none;
    border:none;
    background-size:100%;
    background-size: cover;
  
    }
    .layer1{
        aspect-ratio: 3/1;
        background-image: url("res/sites/styles/png/main-site-header-2.png");
    }
    .layer2{
        aspect-ratio: 8/1;
        background-image: url("res/sites/styles/png/main_site_header.png");

    }
.text{
    font-size: 2.4vmin;
    text-align: center;
    text-decoration-line: none;
    text-decoration-color:#999
}
.h2text{

    width:100%;
    height: 10%;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin:none;
    border:none;

    background-size:100%;
    background-size:100%;
    background-size: cover;
    text-decoration-line:underline;
    aspect-ratio: 7/1;
    background-image: url("res/sites/styles/png/main_site_sect.png");
    line-height: 8vw;


}
.whitetext{
    
    font-size: 3.8vmin;
    color: rgba(180, 180, 200, 0.7);
    font-weight: 900;

}
.whitesmalltext{
    
    font-size: 2vw;
    color: rgba(180, 180, 200, 0.7);
    font-weight: 900;

}
.whiteunderlinedtext{
    
    font-size: 3.8vmin;
    color: rgba(180, 180, 200, 0.7);
    font-weight: 900;
    text-decoration-line: underline;

}
#ProjectCanvas{
    width : 60vw;
    height: 40vw;
    border: solid  2vw rgba(150,160,170,120);
    background-image: url("res/sites/styles/png/project.png");
    background-size: cover;
    opacity: 0.85;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}
.ProjectImage{
    display: none;

}
#ProjectDescription{
    width : 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 2.7vmin;
}
#ProjectTitle{
    font-size: 3.3vmin;
}