.header{
    background-color: #114;
}
.content{
    background-color: #448;
    color:#DEE;
    display: block;
    border: none;

    padding-right: 20vw;
    padding-left: 20vw;
    text-align: left;
    align-content: baseline;
    
}
.transition{

    width:100%;
    height: 10%;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    margin:none;
    border:none;
    background-size:100%;
    background-size: cover;
    aspect-ratio: 6/1;
    background-image: url("png/stacked-steps-haikei.png");
}
section{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    align-items: center;
    min-height: 50%;
    border:none
}
#site{
    border: none;
    margin:none;
    width: 100%;
    height: 100%;
    padding: none;

} 
}
p{

    padding-right: 20vw;
    padding-left: 20vw;
    text-align: left;
    align-content: baseline;
}
