.header{
    background-color: #114;
}
.content{
    background-color: #145;
    color:#EFE;
    display: block;
    border: none;
    margin: none;
    padding: none;
    
}
.transition{

    width:100%;
    height: 10%;
    background-repeat: no-repeat;
    image-rendering: crisp-edges;
    margin:none;
    border:none;
    background-size:100%;
    background-size: cover;
    aspect-ratio: 10/1;
    background-image: url("png/impressum_1.png");
}
section{
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;

    align-items: center;
    min-height: 50%;
    border:none
}
#site{
    border: none;
    margin:none;
    width: 100%;
    height: 100%;
    padding: none;

} 