.navbar{
    display: inline-flex;
    flex-direction: row;
    color: #DDD;
    line-height: 3vh;

}
.bnavbar{
    display: inline-flex;
    flex-direction: row;
    color: #111;
    line-height: 3vh;

}
.icon{
    inline-size: 4vw;
    image-rendering: crisp-edges;
    float: right;
    position: relative;

}
