.navbar{
    display: inline-flex;
    flex-direction: row;
    color: #DDD;
    line-height: 6vh;
    margin-left: auto;
    margin-right: auto;

}
.bnavbar{
    display: inline-flex;
    flex-direction: row;
    color: #111;
    line-height: 6vh;
    margin-left: auto;
    margin-right: auto;

}

