h1{
    font-size: 3.8vw;
    font-weight: 600;
    background-color: inherit;
}
h2{
    font-size: 3.5vw;
    font-weight: 500;
    background-color: inherit;
}
h3{
    font-size: 3.2vw;
    font-weight: 500;
    background-color: inherit;
}
h4{
    font-size: 3.2vw;
    font-weight: 400;
    background-color: inherit;
}
h5{
    font-size: 2.8vw;
    font-weight: 400;
    background-color: inherit;
}
h6{
    font-size: 2.4vw;
    font-weight: 400;
    background-color: inherit;
}
p{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: inherit;
    font-size: 1.8vw;
    font-weight: 400;
}
b{
    font-weight: 600;
}
a{
    font-size: inherit;
    font-weight: 400;
    text-decoration-line: none;
    color: #88C;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: inherit;

}
.text{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.h2text{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.underline{
    text-decoration-line: underline;

}
.kleingedrucktes{
    font-size: 1.1vw;
    text-align: center;
    color: #999;
    line-height: 2vw;
}
.space{
    position:relative;
    height: 50vh;
}
.navbar{
    display: inline-block;
    padding: 5vw 4vh;

}
ul{
    align-content: baseline;
}
#main_site_name{
    color : #B72;
    text-align: center;
    font-size: 5vw;
    position: relative;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    display:inline-block
    
}
ol{
    align-content: baseline;
}
li{
    text-align: left;
}
html, body{

    overflow: hidden;
    overflow-y: scroll;
    max-height: 100%;
    max-width: 100%;
    min-width: 300px;
    min-height: 200px;
    margin: 0%;
    padding: 0%;
    border-radius: 0%;
    align-self: start;
}
.modernunderlined{
    text-decoration: underline;
    text-decoration-thickness: 0.5%;
    text-decoration-color: #27B;
}
.icon{
    inline-size: 6vw;
    min-inline-size: 25px;
    image-rendering: crisp-edges;
}