h1{
    font-size: 3.8vw;
    font-weight: 600;
    background-color: inherit;
}
h2{
    font-size: 3.5vw;
    font-weight: 500;
    background-color: inherit;
}
h3{
    font-size: 3.2vw;
    font-weight: 500;
    background-color: inherit;
}
h4{
    font-size: 3.2vw;
    font-weight: 400;
    background-color: inherit;
}
h5{
    font-size: 2.8vw;
    font-weight: 400;
    background-color: inherit;
}
h6{
    font-size: 2.4vw;
    font-weight: 400;
    background-color: inherit;
}
p{
    font-size: 1.8vw;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: inherit;


}
a{
    font-size: inherit;
    font-weight: 400;
    text-decoration-line: none;
    color: #88C;
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background-color: inherit;

}
.text{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.h2text{
    font-family: 'Mukta', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.underline{
    text-decoration-line: underline;

}
.kleingedrucktes{
    font-size: 1vw;
    text-align: center;
    color: #999;
    line-height: 2vh;
}
.space{
    position:relative;
    height: 50vh;
}